*{
  margin: 0;  
  padding: 0;
  box-sizing: border-box;
  color: var(--default-color);
  /* background-color: var(--background-color); */
  font-family: var(--default-font);
}
/*--------------------------------------------------------------
# General Styling & Shared Classes
--------------------------------------------------------------*/
a {
  color: var(--accent-color);
  text-decoration: none;
  transition: 0.3s;
}

a:hover {
  color: var(--accent-color);
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--heading-color);
  font-family: var(--heading-font);
}
:root {
    --default-font: "Roboto",  system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --heading-font: "Raleway",  sans-serif;
    --nav-font: "Poppins",  sans-serif;
}
/* Global Colors - The following color variables are used throughout the website. Updating them here will change the color scheme of the entire website */
:root { 
  --background-color: #ffffff; /* Background color for the entire website, including individual sections */
  --default-color: #555555; /* Default color used for the majority of the text content across the entire website */
  --heading-color: #1e4356; /* Color for headings, subheadings and title throughout the website */
  --accent-color: #68a4c4; /* Accent color that represents your brand on the website. It's used for buttons, links, and other elements that need to stand out */
  --surface-color: #ffffff; /* The surface color is used as a background of boxed elements within sections, such as cards, icon boxes, or other elements that require a visual separation from the global background. */
  --contrast-color: #ffffff; /* Contrast color for text, ensuring readability against backgrounds of accent, heading, or default colors. */
}
/* Nav Menu Colors - The following color variables are used specifically for the navigation menu. They are separate from the global colors to allow for more customization options */
:root {
  --nav-color: #ffffff;  /* The default color of the main navmenu links */
  --nav-hover-color: #68a4c4; /* Applied to main navmenu links when they are hovered over or active */
  --nav-mobile-background-color: #ffffff; /* Used as the background color for mobile navigation menu */
  --nav-dropdown-background-color: #ffffff; /* Used as the background color for dropdown items that appear when hovering over primary navigation items */
  --nav-dropdown-color: #555555; /* Used for navigation links of the dropdown items in the navigation menu. */
  --nav-dropdown-hover-color: #68a4c4; /* Similar to --nav-hover-color, this color is applied to dropdown navigation links when they are hovered over. */
  /* Fetured icon color */
  --cyan-color: #0dcaf0;
  --orange-color: #fd7e14;
  --teal-color: #20c997;
  --red-color: #df1529;
}

 .hero-container{
  position: relative;
  background-image: url(images/img/hero-bg.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
 }
 .overally{
  position: absolute;
  background: #1e4356;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.6;
 }

/* Nav Bar CSS */
.container{
  padding-top: 7px;
}
.container a{
  color: var(--nav-color)
}
.navbar-brand {
  font-family: var(--heading-font);
  font-size: 30px;
  margin: 0;
  font-weight: 700;
  color: var(--heading-color);
}
.nav-item a {
  color: var(--nav-color);
  padding: 10px 20px;
  font-family: var(--nav-font);
  font-size: 18px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 10px;
  white-space: nowrap;
  transition: 0.3s;
}
.nav-item a:hover{
  color: var(--nav-hover-color);
}
.active{
  color: #68a4c4;
}
.nav-link i{
  color: #ffffff;
  font-size: 14px;
  margin-left: 5px;
}
/* Swiper CSS */
    html,
    body {
      position: relative;
      height: 100%;
    }

    .swiper {
      width: 100%;
      height: 100%;
    }
  
  .hero-section{
    height: 450px;
  }
    .swiper-slide {
      text-align: center;
      font-size: 18px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      
    }

    .swiper-slide img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .slider-content h1{
        color: #ffffff;
        margin-bottom: 30px;
        font-size: 40px;
        font-weight: 700;
        animation: fadeInDown 1s both;
        display: block;
        font-family: var(--heading-font);
    }
    .slider-content p{
      color: #ffffffce;
    }
    .button{
        font-weight: 500;
        font-size: 14px;
        letter-spacing: 1px;
        display: inline-block;
        padding: 12px 32px;
        border-radius: 50px;
        transition: 0.5s;
        line-height: 1;
        margin: 10px;
        
        /* animation: fadeInUp 1s both 0.4s; */
        border: 2px solid var(--accent-color);
    }
    .button a{
      text-decoration: none;
      color: #ffff;
    }
    .button:hover{
      background-color: var(--accent-color);
    }

    /* Feature section CSS*/
    .featured-section{
      margin-top: 70px;
    }
    .featured-card{
      position: relative;
      background-color: var(--surface-color);
      box-shadow: 0px 5px 90px 0px rgba(0, 0, 0, 0.1);
      height: 100%;
      padding: 40px 30px;
      text-align: center;
      transition: 0.3s;
      border-radius: 5px;
      border: 1px solid transparent;
  }
    .featured-card .icon {
      margin: 0 auto;
      width: 64px;
      height: 64px;
      display: flex;
      border-radius: 50%;
      align-items: center;
      justify-content: center;
      transition: ease-in-out 0.3s;
      position: relative;
  }
  .featured-card h3 {
    font-weight: 700;
    margin: 10px 0 15px 0;
    font-size: 22px;
}
.featured-card p {
  line-height: 24px;
  font-size: 14px;
  margin-bottom: 0;
}
 .card-1 .icon-1{
    background-color: color-mix(in srgb, var(--cyan-color) 10%, white 95%);
}
  .card-2 .icon-1{
    background-color: color-mix(in srgb, var(--orange-color) 10%, white 95%);
}
  .card-3 .icon-1{
    background-color: color-mix(in srgb, var(--teal-color) 10%, white 95%);
}
  .card-4 .icon-1{
    background-color: color-mix(in srgb, var(--red-color) 10%, white 95%);
}
.card-1 .icon-1 i{
  color: var(--cyan-color);
    font-size: 28px;
    transition: 0.5s;
    position: relative;
}
.card-2 .icon-1 i{
  color: var(--orange-color);
    font-size: 28px;
    transition: 0.5s;
    position: relative;
}
.card-3 .icon-1 i{
  color: var(--teal-color);
    font-size: 28px;
    transition: 0.5s;
    position: relative;
}
.card-4 .icon-1 i{
  color: var(--red-color);
    font-size: 28px;
    transition: 0.5s;
    position: relative;
}


.card-1:hover{
  box-shadow: 0px 5px 35px 0px rgba(0, 0, 0, 0.1);
  border-color: var(--cyan-color);
  transition: ease-in-out 0.3s;
}
.card-2:hover{
  box-shadow: 0px 5px 35px 0px rgba(0, 0, 0, 0.1);
  border-color: var(--orange-color);
  transition: ease-in-out 0.3s;
}
.card-3:hover{
  box-shadow: 0px 5px 35px 0px rgba(0, 0, 0, 0.1);
  border-color: var(--teal-color);
  transition: ease-in-out 0.3s;
}
.card-4:hover{
  box-shadow: 0px 5px 35px 0px rgba(0, 0, 0, 0.1);
  border-color: var(--red-color);
  transition: ease-in-out 0.3s;
}
.card-1:hover .icon-1{
  background-color: var(--cyan-color);
}
.card-2:hover .icon-1{
  background-color: var(--orange-color);
}
.card-3:hover .icon-1{
  background-color: var(--teal-color);
}
.card-4:hover .icon-1{
  background-color: var(--red-color);
}
.featured-card:hover i{
  color: var(--contrast-color);
}